body {
    font-family: "Arial", "Meiryo", sans-serif;
  } 
.google-fonts 
{ font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;}
}
     html{font-size: 20px;
        text-align: center; }

     h1{font-size: 2em;
        letter-spacing: 1.2em; 
    text-shadow: 2px 2px 3px gray;
    text-decoration: underline 3px rgb(115,115,114);}
     
 .highlight{color:skyblue}
 .midlight{color:rgb(255, 192, 203)}
 .deco1{color:skyblue}
 .deco2{color:rgb(255, 192, 203)}

 #parent > p {font-weight: bold ; }
