#top{display: flex;
    width: 800px;
    background-color: #dcc9f4;
    justify-content: center;
    
    gap: 20px; /* marginの代わりにgapを追加 */
    margin: 20px auto;
}
.top-child{ display :inline-block;
    width: 20%;
    height: auto;
    background-color: #ffd9df;
    padding: 10px; /* 内側の余白を追加 */
    text-align: center;
   
}

#middle{ position: relative;
    width: 800px;
   height: 800px;
   gap: 20px; /* marginの代わりにgapを追加 */
    margin: 20px auto;
    background-color:#ffd9df; }

#middle01{width: 200px;
    height: 200px;
    background-color:#87ceeb;
    position: absolute;
    top: 100px;
    left: 100px;}

    #middle02{width: 200px;
        height: 200px;
        background-color:#87ceeb; 
        position: absolute;
        top: 300px;
        left: 300px;}

        #middle03{width: 200px;
            height: 200px;
            background-color:#87ceeb;
            position: absolute;
            top: 500px;
            left: 500px;}

       #bottom{ width: 800px;
        height: 300px;
        background-color: #87ceeb;
            
        gap: 20px; /* marginの代わりにgapを追加 */
        margin: 20px auto; } 

        #bottom01{width: 400px;
            height: 100px;
            background-color:#e5dcf0;}

       #bottom02{width: 400px;
                height: 100px;
                background-color:#e5dcf0;
                position: relative;
                left: 200px;}

        #bottom03{width: 400px;
                    height: 100px;
                    background-color:#e5dcf0;
                    position: relative;
                    left: 400px;}
                          













